回答B

<p>
<%= link_to "戻る", root_path, class: "btn btn-lg btn-primary" %>
<%= link_to "サンプル1", "#", class: "btn btn-lg btn-default" %>
<%= link_to "サンプル2", "#", class: "btn btn-default" %>
<%= link_to "サンプル3", "#", class: "btn btn-sm btn-default" %>
</p>