ここには残作業や作業の進捗を記載していく。

<body>
<p>
卒論の目的:<br>
上流工程中心のSEのため、一人で「ものづくり」まで完結させてやったことがありません。そのため、BBT大学の卒論では、プロトタイプを作り事業計画からWebサービス公開までの一連の流れを実体験することを主な目的としました。
</p>

<p>
卒論テーマ:<br>
男性各人が自身に適したサービスを選択し、なりたい姿と各サービス間の繋がりは男性各人の力量に依存している。そこで、男性各人のなりたい姿と各サービスをマッチングするサービスを提供する。
</p>

<p>
第1段階:<br>
BBT大学院のMBA診断やNECのうまい棒診断のような「あなたのおすすめ」サイトを作る。
</p>

<p>
第2段階:<br>
「あなたのおすすめ」に対して、実際の他社サービスへのリンクを作り、他社サービスへの誘導を行う。
</p>

<p>
第3段階:<br>
診断結果をDB保存し、AI、統計からより良い条件・結果を判断できるよう動的結果表示機能を具備する。
</p>


<h4>【進捗】</h4>
<table border="1">
    <tr>
        <th>2017/5/27</th>
        <td>画面遷移を作成する。</td>
    </tr>
    <tr>
        <th>2017/6/3</th>
        <td>Bootstrapを追加する。</td>
    </tr>
</table>

<%= link_to "戻る", root_path %>
</body>