<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<!-- トップページ　各ページへのリンクを記載する　-->
<body> 
    <%= link_to "診断", select_path %>
    <%= link_to "解説", explain_path %>
    <%= link_to "新規登録", notes_path %>
    <%= link_to "残作業リスト", task_path %>
</body>